<!DOCTYPE HTML>
<html lang="en">
<head>
<title>Study Corner</title>
<!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <style>
   body
   {
   background-color:black;
   }
   .navbar-default
   {
    background-color:tomato;
	}
	.glyphicon {
    font-size: 200px;
}
   .btn-primary-spacing 
{
margin-right: 5px;
margin-bottom: 5px !important;
}
.a
{
  
    
    padding: 10px;
    

    font-style: normal;

}
.p{

text-color:green;
}
   
   </style>
  </head>
<body>
<!--<nav class="navbar navbar-inverse">
  <div class="container-fluid">
   
    <ul class="nav navbar-nav ">
      <li class="active"><a href="#">Home</a></li>
      <li>
	  <form class="navbar-form " role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="q">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form> </li>
    </ul>
  </div>
  
</nav>-->
<nav class="navbar navbar-default navbar-expand-sm ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
        <li><a class="navbar-brand" href="#myPage" style="font-style: italic" ><font color="black">Study corner</font></a></li>
        </div>
      <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar">
        <li><a href="homepage.html">Home</a></li>
         <!-- <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Notes</a></li>
            <li><a href="#">Videos</a></li>
            <li><a href="#">Reference Books</a></li> 
              
          </ul>
        </li> -->
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Branches
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Information Technology</a></li>
            <li><a href="#">CSE</a></li>
            
               </ul>
        </li>
		<!-- <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Notes</a></li>
            <li><a href="#">Videos</a></li>
            <li><a href="#">Reference Books</a></li> 
              
          </ul>
        </li> -->
		<div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar">
        <li><a href="homepage.html">Contact </a></li>
          
             <form class="navbar-form navbar-left" role="search">
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
          </form>
         </ul>
     </div>
	 </nav>
	 
	 <div class="a">
	 <center> <h2><font color="yellow"><u> What We provide</u> </font> </h2> </center>
	 </br>
	 </br> </div>
	 <img src=https://4.bp.blogspot.com/-VnKiGsMCEuU/WRXHf20t4eI/AAAAAAAABWs/dzakGolUv-cbv4lWYMcoXBSz8va9z0J1QCK4B/s320/NOTES.png >
	 
<div class="btn-primary-spacing"> <center>
<a href="#" class="btn btn-info btn-lg ">
          <span class="glyphicon glyphicon-file"></span> 
        <br> <p> <font color="brown">NOTES</font></p> </a>
		 <hr>
		
		<a href="#" class="btn btn-info btn-lg ">
          <span class="glyphicon glyphicon-play"></span> 
        <!--</a> </br>-->
		<p> <font color="yellow">VIDEO LECTURES</font></p>  </a>
		 <hr>
		
		<a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-book"></span>
		  <p> <font color="yellow">REFERENCE BOOKS</font></p>
</center>
</body>
</html>